# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
Debug Library/Debug/
Source/Debug/
Source/x64/
Source/SG_Auth.opensdf
*.sdf
Source/SG_Auth.sln.DotSettings.user
*.filters
*.txt
Debug Library/Debug/DebugLib.ilk
*.suo
*.opendb
/Source/curl
*.scgdat
*.user
*.db
